.App {
  	text-align: center;
}

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

.container {
	max-width: 960px;
	padding: 0 20px;
	margin: 0 auto;
}

.video-constructor {
	min-height: 200px;
	padding: 20px;
	border: 1px solid blue;
	text-align: left;
}
.video-constructor form{
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: center;
}
.video-constructor form input{
	width: 100%;
	margin-top: 10px;
}